:root {
	--sl-hue-accent: 240;
	--sl-hue-accent-2: 260;
	--sl-sidebar-width: 15rem;
}

:root[data-theme='light'] {
	--sl-color-accent-low: hsl(240, 29%, 89%);
	--sl-color-accent: hsl(208, 100%, 34%);
	--sl-color-accent-high: hsl(240, 70%, 25%);
	
	--sl-color-accent-2-low: hsl(260, 60%, 92%);
	--sl-color-accent-2: hsl(260, 60%, 55%);
	--sl-color-accent-2-high: hsl(260, 60%, 30%);
	
	--sl-color-bg-sidebar: hsl(224, 18%, 96%);
}

:root[data-theme='dark'] {
	--sl-color-accent-low: hsl(240, 70%, 15%);
	--sl-color-accent: hsl(240, 70%, 60%);
	--sl-color-accent-high: hsl(240, 70%, 85%);
	
	--sl-color-accent-2-low: hsl(260, 60%, 15%);
	--sl-color-accent-2: hsl(260, 60%, 65%);
	--sl-color-accent-2-high: hsl(260, 60%, 85%);
	
	--sl-color-bg-sidebar: hsl(224, 12%, 12%);
}